{% extends 'base.html.twig' %}

{% block title %}
	Mon compte -
	{{ app.user.lastname ~ ' ' ~  app.user.firstname}}
{% endblock %}

{% block content %}
	<body></body>
	<link rel="stylesheet" href="{{asset('assets/css/account.css')}}">

	<h1>Mon compte</h1>
	<header>
		Bienvenue dans votre compte
		<span style="font-weight:bold">
			{{app.user.firstname ~" "~app.user.lastname}}
		</span>
	</header>
	<hr>
	<div class="contenu_compte">
	{% if is_granted('ROLE_ADMIN')%}
		<a href="/admin">Vous êtes un administrateur</a>
		{% endif %}
		<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
		<a href="{{ path('app_logout') }}">Deconnexion</a>
	</div>
</br>
<hr>{% endblock %}
