{% extends 'base.html.twig' %}

{% block title %}
	Mon compte -
	{{ app.user.lastname ~ ' ' ~  app.user.firstname}}
{% endblock %}

{% block content %}
	<body>
	
<link href="{{asset('assets/css/loginn.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/loginn.css')}}">
    
	<h1>Mon compte</h1>
	<header>
		Bienvenue dans votre compte
		<span style="font-weight:bold">
			{{app.user.firstname ~" "~app.user.lastname}}
		</span>
	</header>
	<hr>

	<div class="contenu_compte">
	<li>
	{% if is_granted('ROLE_ADMIN')%}
		<a href="/admin">Vous êtes un administrateur</a>
		{% endif %}
		</li>
		<li>
		<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
		</li>
		<li>
<img src="{{ asset('assets/img/address-book.png') }}" alt="Gérer mes adresses"><br/>
                <a href="{{ path('account_order') }}">Mes commandes</a>
          
		</li>

		<li>
  
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            
		</li>

		<li>
		<a href="{{ path('app_logout') }}">Déconnexion</a>
	</li>
	</div>
</br>
</body>
<hr>{% endblock %}
