{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe {% endblock %}

{% block content %}


<ul>
<div class = "navbar">
		<img src="/uploads/Screenshot_2021-11-15_17.42.01-removebg-preview.png" width="4%">
  <li><a href="{{ path('home') }}">Accueil</a></li>
  
  <li><a href="{{ path('gallery') }} ">Gallerie</a></li>
  <li><a href="{{ path('products') }}">Boutique</a></li>
  <li><a href="{{ path('cours') }}">Cours</a></li>
  <li><a href="{{ path('exposition') }}">Exposition</a></li>
  <li><a href="{{ path('contact') }}">Contact</a></li>
  <li><a href="{{ path('app_login') }}">Connexion</a></li>
  <li><a href="{{ path('register') }}">Inscription</a></li>
  </div>
</ul>
<h1>Modifier mon mot de passe </h1>
<a href="{{ path('account') }}">Retourner à mon compte</a></br>
<hr>
{% if notification %}
<div class ="alerte alert-info">{{notification}}</div>
{% endif %}
{{form(form)}}
<hr>
{% endblock %}
