{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block content %}

	<body></body>
	<link href="{{asset('assets/css/login.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/login.css')}}">

	<ul>
		<div class="navbar">
			<img src="/uploads/Screenshot_2021-11-15_17.42.01-removebg-preview.png" width="4%">
			<li>
				<a href="{{ path('home') }}">Accueil</a>
			</li>

			<li>
				<a href="{{ path('gallery') }} ">Gallerie</a>
			</li>
			<li>
				<a href="{{ path('products') }}">Boutique</a>
			</li>
			<li>
				<a href="{{ path('cours') }}">Cours</a>
			</li>
			<li>
				<a href="{{ path('exposition') }}">Exposition</a>
			</li>
			<li>
				<a href="{{ path('contact') }}">Contact</a>
			</li>
			<li>
				<a href="{{ path('app_login') }}">Connexion</a>
			</li>
			<li>
				<a href="{{ path('register') }}">Inscription</a>
			</li>
		</div>
	</ul>

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},

				<a href="{{ path('app_logout') }}">
					Logout
				</a>
			</div>
		{% endif %}



	<div class="login-box">
	
		<h2>Se connecter</h2>

  		<form>
    	
		<div class="user-box">
      		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="" required autofocus>
			<label>Email</label>
    	</div>

    	<div class="user-box">
      		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<label>Mot de passe</label>
    	</div>

    		<hr>
				<button class="btn btn-lg btn-primary btn-sm" type="submit">
					Se connecter
				</button>

			<a class="c" href="">Mot de passe oublié ?</a>

  		</form>
	</div>



	{% endblock %}
