{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block content %}

	<body></body>
	<link href="{{asset('assets/css/login.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/login.css')}}">


	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},

				<a href="{{ path('app_logout') }}">
					Logout
				</a>
			</div>
		{% endif %}



	<div class="login-box">
	
		<h2>Se connecter</h2>

  		<form>
    	
		<div class="user-box">
      		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="" required autofocus>
			<label>Email</label>
    	</div>

    	<div class="user-box">
      		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<label>Mot de passe</label>
    	</div>

    		<hr>
				<button class="btn btn-lg btn-primary btn-sm" type="submit">
					Se connecter
				</button>

			<a class="c" href="{{ path('reset_password') }}">Mot de passe oublié ?</a>

  		</form>
	</div>



	{% endblock %}
