{% extends 'base.html.twig' %}

{% block content %}
	<html>
		<head>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="home.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<link href="{{asset('assets/css/home.css')}}" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('assets/css/home.css')}}">
		</head>
		<body>



			<div class="container">
				<div class="container-inner">
					<div class="main-content">
						<div class="main-headings" id="main-headings-js">
							<p id="by-line">French 🇫🇷 - Third year in beaux arts of Tours - Artist</p>

							<div class="heading">
								<h3 id="heading1">Découvrez</h3>
								<h3 id="heading2">l'Artiste</h3>
								<h1 id="heading3">Antonin</h1>
							</div>

							<div class="short-bio">
								<p>"Pas d'art sans création, pas d'art sans émotion."</p>

							</div>
	
							
 <a id="div1" href="#page-2" class="btn--primary"> Découvrir ...</a>
      </div>


						<div class="more-info " id="more-info-js">
							<hr>
							<h5>Son histoire :</h5>
							<hr>
							<p>
								Antonin Fournet, née en octobre 2000. Artiste et étudiant en 4ème année aux Beaux-Arts de Tours, obtient sa licence en 2021. Il se focalise principalement sur le domaine de la peinture et de la sculpture. Il aime réutiliser des éléments plastiques et les modifier lors de la création de ses œuvres.
							</p>
						
						</div>
					</div>





					<div class="image-wrapper">
						<div class="image-container">
							<img class="image" src="/uploads/Screenshot 2021-11-15 17.05.01.png">
						</div>
					</div>
				</div>
			</div>




<div id="scroll-wrapper">
  <div id="scroll-wrapper-inner">
  <div id="scroll-title">
    Scroll
  </div>
 <div id="scroll-down1">
</div>
  </div>
  </div>
<!--original codepen https://codepen.io/paschka -->


			<hr>
		</body>
		<body>
		

	<!-- Contenu Page 2 -->
<div id="page-2">
			<div class="image"></div>
			<section class="content">
				<hr>
				<h1>Bienvenue sur le site d'Antonin Fournet</h1>
				<p></p>
				<p></p>
				<ul>
					<p>
						Antonin Fournet, née en octobre 2000. Artiste et étudiant en 4ème année aux Beaux-Arts de Tours, obtient sa licence en 2021. Il se focalise principalement sur le domaine de la peinture et de la sculpture. Il aime réutiliser des éléments plastiques et les modifier lors de la création de ses œuvres.
					</p>
					<video width="600" height="500" autoplay muted loop ><source src="{{ asset('assets/img/video.mp4') }}" </video>
	
					<p>
						Aimant la vie ainsi que la biologie, il se questionne sur les enjeux environnementaux actuel et porte un discours écologique qu’il transmet dans son art. Il s'intéresse et spécule sur un monde futur comme nous le montre son essaie, écrit lors de sa 3ème année, racontant l'histoire d'un astronaute qui découvre une planète recouverte de plastique et où la biologie ainsi que cette dernière sont en symbiose, comme si ces deux éléments avaient muté pour coexister.
					</p>
					<p>
						Étant un grand amateur de plante, il aime toute forme de vie, cela l'inspire beaucoup dans son travail. Il veut contribuer à sensibiliser les consciences par rapport aux enjeux environnementaux qui sont de plus en plus critique. Rêvant d'un monde où l'écologie évolue positivement, il vous invite avec générosité à découvrir son travail.
					</p>
				</ul>


				<ul>
					<p>
						Antonin Fournet, née en octobre 2000. Artiste et étudiant en 4ème année aux Beaux-Arts de Tours, obtient sa licence en 2021. Il se focalise principalement sur le domaine de la peinture et de la sculpture. Il aime réutiliser des éléments plastiques et les modifier lors de la création de ses œuvres.
					</p>
					<p>
						Aimant la vie ainsi que la biologie, il se questionne sur les enjeux environnementaux actuel et porte un discours écologique qu’il transmet dans son art. Il s'intéresse et spécule sur un monde futur comme nous le montre son essaie, écrit lors de sa 3ème année, racontant l'histoire d'un astronaute qui découvre une planète recouverte de plastique et où la biologie ainsi que cette dernière sont en symbiose, comme si ces deux éléments avaient muté pour coexister.
					</p>
					<p>
						Étant un grand amateur de plante, il aime toute forme de vie, cela l'inspire beaucoup dans son travail. Il veut contribuer à sensibiliser les consciences par rapport aux enjeux environnementaux qui sont de plus en plus critique. Rêvant d'un monde où l'écologie évolue positivement, il vous invite avec générosité à découvrir son travail.
					</p>
				</ul>

				
			</div>
			</div><!-- /page-2 -->
		</body>
	</html>
</section></body></html><!-- Copyright --><!--Footer--><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><script src="{{asset('assets/js/home.js')}}"></script><script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script><script src="{{asset('assets/js/antonin.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
