{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
	Boutique
{% endblock %}

{% block content %}
<header>
	<link href="{{asset('assets/css/productshow.css')}}" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('assets/css/productshow.css')}}">

			<style>


				figure {

					margin: 0;
					padding: 0;
					background: #fff;
					overflow: hidden;
				}
				figure:hover+span {
					bottom: -36px;
					opacity: 1;
				}


				/* Flashing */
				.hover13 figure:hover img {
					opacity: 1;
					-webkit-animation: flash 1.5s;
					animation: flash 1.5s;
				}
				@-webkit-keyframes flash {
					0% {
						opacity: .4;
					}
					100% {
						opacity: 1;
					}
				}
				@keyframes flash {
					0% {
						opacity: .4;
					}
					100% {
						opacity: 1;
					}
				}
			</style>

</header>
<body>
	
		<p class="flotte">
			<img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" width="400" height="400" class="img-thumbnail" float="left">
		</p>


	

	<h3>{{product.name}}</h3>
	<p>{{product.subtitle}}</p>
	<span class="product-page-price">{{ (product.price/100) | number_format(2, ',', '.') }}
		€</span>
	<hr>
	<p>
		{{product.description}}
	</p>
	<a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
	</body>
{% endblock %}
