{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block content %}

<html>

	<header class="site-header">

   		<link href="{{asset('assets/css/gallerie.css')}}" rel="stylesheet">
    	<link rel="stylesheet" href="{{asset('assets/css/gallerie.css')}}">
		



<ul>
<div class = "navbar">
		<img src="/uploads/Screenshot_2021-11-15_17.42.01-removebg-preview.png" width="4%">
  <li><a href="{{ path('home') }}">Accueil</a></li>
  <li><a href="{{ path('biographie') }} ">Biographie</a></li>
  <li><a href="{{ path('gallery') }} ">Gallerie</a></li>
  <li><a href="{{ path('products') }}">Boutique</a></li>
  <li><a href="{{ path('cours') }}">Cours</a></li>
  <li><a href="{{ path('exposition') }}">Exposition</a></li>
  <li><a href="{{ path('contact') }}">Contact</a></li>
  <li><a href="{{ path('app_login') }}">Connexion</a></li>
  <li><a href="{{ path('register') }}">Inscription</a></li>
  </div>
</ul>

		<div class="container row">
		<h1 class="site-brand">
			<a href="#">La Gallerie - Antonin - Fournet</a>
		</h1>
		</div>


<style>



.flex-container {
      display: flex;
  
         
		  }
      
.flex-container > div {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}


</style>


	</header>

	
    <div class="row product-container">
		
		{% for products in product %}

		<div class="flex-container">
		
		<div class="hover13 column">
		<div>
            <figure><a href="{{ path('products', { 'slug' : products.slug }) }}"><img src="/uploads/{{products.illustration}}" class="w3-hover-opacity" /> </a></figure>
		</div>
		</div>
		</div>
	    {% endfor %}

    
{% endblock %}
