{% extends 'base.html.twig' %}

{% block title %}
	Gallerie - Antonin Fournet
{% endblock %}

{% block content %}

	<html>
		<h1 class="site-brand">
			<a href="#">La Gallerie - Antonin - Fournet</a>
		</h1>
	
	<link href="{{asset('assets/css/gallerie.css')}}" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('assets/css/gallerie.css')}}">

	

<div class="marginau">

<div class="hover13 column">
		{% for products in product %}

			

				
						<a href="{{ path('products', { 'slug' : products.slug }) }}">
							<img class="marginau" src="/uploads/{{products.illustration}}" width="300px" height="200px"/>
						</a>
					

				


		{% endfor %}
	
		</div>

</div>
	
		<script src="{{asset('assets/js/gallerie.js')}}"></script>
	
	</html>

{% endblock %}
