{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block content %}


	<pre>
    {{ dump(app.user) }}
  </pre>
	{% if is_granted('ROLE_USER') %}{% endif %}
	<ul>
		<div class="navbar">
			<img src="/uploads/Screenshot_2021-11-15_17.42.01-removebg-preview.png" width="4%">
			<li>
				<a href="{{ path('home') }}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('biographie') }} ">Biographie</a>
			</li>
			<li>
				<a href="{{ path('gallery') }} ">Gallerie</a>
			</li>
			<li>
				<a href="{{ path('products') }}">Boutique</a>
			</li>
			<li>
				<a href="{{ path('cours') }}">Cours</a>
			</li>
			<li>
				<a href="{{ path('exposition') }}">Exposition</a>
			</li>
			<li>
				<a href="{{ path('contact') }}">Contact</a>
			</li>
			<li>
				<a href="{{ path('app_login') }}">Connexion</a>
			</li>
			<li>
				<a href="{{ path('register') }}">Inscription</a>
			</li>
		</div>
	</ul>
	<script src="contact.js"></script>
	<link href="{{asset('assets/css/contact.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('assets/css/contact.css')}}">
</head>
<div class="container">

	<form class="well form-horizontal" action=" " method="post" id="contact_form">
		<fieldset>

			<!-- Form Name -->
			<legend>Contactez nous!</legend>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Prénom</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-user"></i>
						</span>


						<input name="first_name" value=" {% if app.user == null %} prenom {% else %} {{app.user.firstname}} {% endif %}" class="form-control" type="text">

					</div>
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Nom</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-user"></i>
						</span>
						<input name="last_name" value="{% if app.user == null %} Nom {% else %} {{app.user.firstname}} {% endif %} " class=" form-control" type=" text">
					</div>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label">E-Mail</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-envelope"></i>
						</span>
						<input name="email" value="{% if app.user == null %} Email {% else %} {{app.user.email}} {% endif %} " class="form-control" type="text">
					</div>
				</div>
			</div>


			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Numéro</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-earphone"></i>
						</span>
						<input name="phone" value="{% if app.user == null %} num. telephone {% else %} {{app.user.phone}} {% endif %} " class="form-control" type="text">
					</div>
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Addresse</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-home"></i>
						</span>
						<input name="address" placeholder="Addresse" class="form-control" type="text">
					</div>
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Ville</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-home"></i>
						</span>
						<input name="city" placeholder="Ville" class="form-control" type="text">
					</div>
				</div>
			</div>

			<!-- Select Basic -->

			<div class="form-group">
				<label class="col-md-4 control-label">Pays</label>
				<div class="col-md-4 selectContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-list"></i>
						</span>
						<select name="state" class="form-control selectpicker">
							<option value=" ">Selectionner votre pays</option>
							<option>France</option>
							<option>Royaume-Unie</option>
							<option>Allemagne</option>
							<option>Italie</option>
							<option>Espagne</option>
							<option>Belgique</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Code postal</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-home"></i>
						</span>
						<input name="zip" placeholder="Code postal" class="form-control" type="text">
					</div>
				</div>
			</div>

			<!--
																																																																																																																																																																																																																																																																																																																																																																																																																
																																																																																																																																																																																																																																																																																																																																																																																																																 <div class="form-group">
																																																																																																																																																																																																																																																																																																																																																																																																																                        <label class="col-md-4 control-label">Do you have hosting?</label>
																																																																																																																																																																																																																																																																																																																																																																																																																                        <div class="col-md-4">
																																																																																																																																																																																																																																																																																																																																																																																																																                            <div class="radio">
																																																																																																																																																																																																																																																																																																																																																																																																																                                <label>
																																																																																																																																																																																																																																																																																																																																																																																																																                                    <input type="radio" name="hosting" value="yes" /> Yes
																																																																																																																																																																																																																																																																																																																																																																																																																                                </label>
																																																																																																																																																																																																																																																																																																																																																																																																																                            </div>
																																																																																																																																																																																																																																																																																																																																																																																																																                            <div class="radio">
																																																																																																																																																																																																																																																																																																																																																																																																																                                <label>
																																																																																																																																																																																																																																																																																																																																																																																																																                                    <input type="radio" name="hosting" value="no" /> No
																																																																																																																																																																																																																																																																																																																																																																																																																                                </label>
																																																																																																																																																																																																																																																																																																																																																																																																																                            </div>
																																																																																																																																																																																																																																																																																																																																																																																																																                        </div>
																																																																																																																																																																																																																																																																																																																																																																																																																                    </div>*/
																																																																																																																																																																																																																																																																																																																																																																																																																
																																																																																																																																																																																																																																																																																																																																																																																																																-->

			<div class="form-group">
				<label class="col-md-4 control-label">Description</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-pencil"></i>
						</span>
						<textarea class="form-control" name="comment" placeholder="Description"></textarea>
					</div>
				</div>
			</div>

			<!-- Success message -->
			<div class="alert alert-success" role="alert" id="success_message">Success
				<i class="glyphicon glyphicon-thumbs-up"></i>
				Thanks for contacting us, we will get back to you shortly.</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<button type="submit" class="btn btn-warning">Envoyer
						<span class="glyphicon glyphicon-send"></span>
					</button>
				</div>
			</div>

		</fieldset>
	</form>
</div></div><!-- /.container -->{% endblock %}
